@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/RobotoSlab-Thin.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/RobotoSlab-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/RobotoSlab-Light.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/RobotoSlab-SemiBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/RobotoSlab-ExtraBold.woff2') format('woff2');
}
