html, body {
  color: black;
  font-family: 'Yantramanav', sans-serif;
  line-height: 1.5;
}

h1 {
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-weight: 400;
}

.small-text {
  font-size: 0.8rem;
  margin: 0;
}

.section-headline {
  margin: 0 0 1.5rem;
  font-size: 2.5rem;
}

.section-intro {
  margin: 0 0 1.2rem;
  font-size: 1.3rem;
}

.main-section-copy.center {
  text-align: center;
}

.main-section-copy.right {
  text-align: right;
}
