html, body {
  color: black;
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.5;
}

h1 {
  margin: 0 0 1.2rem;
}

p {
  margin: 0 0 1.2rem;
}

.section-headline {
  font-size: 3rem;
}

.section-intro {
  font-size: 1.25rem;
}

.main-section-copy.center {
  text-align: center;
}

.main-section-copy.right {
  text-align: right;
}
