@import "breakpoints";
@import "fonts";
@import "grid";
@import "typography";

* {
  box-sizing: border-box;
  position: relative;
}

body {
  margin: 0;
}

.content {
  margin: 0 2.5rem;
}

.main-section-copy {
  padding: 6rem 0 6rem 3rem;
}

.main-section-copy.center {
  padding: 6rem 1.5rem 6rem 1.5rem;
}

.main-section-copy.right {
  padding: 6rem 3rem 6rem 0;
}
