@import "../assets/style/breakpoints";

#akira {
  background-image: url("../static/img/akira.svg");
  background-repeat: no-repeat;
  background-size: auto 110%;
  background-position: center bottom;
  border: 0.2rem solid var(--blue);
  width: 25rem;
  height: 17rem;
}

.akira-tappable-area {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; 
  width: 14rem;
  height: 12rem;
}

.eye {
  left: 3.15rem;
  width: 7.3rem;
}

.eye img {
  width: 7.3rem;
}

.akira-open-eyes {
  top: 1.5rem;
}

.akira-angry-eyes {
  top: 2.21rem;
}

@include tablet {
  .eye {
    left: 3.16rem;
  }
}

@include mobile {
  .eye {
    left: 3.16rem;
  }
}
