@import "../assets/style/breakpoints";

.section-copy {
  grid-column: 1/7;
}

.section-copy h1 {
  color: var(--blue);
}

.image-section {
  grid-column: 8/13;
  display: flex;
  justify-content: center;
  align-items: center;
}

@include tablet {
  .section-copy {
    padding: 5rem 0 3rem;
    grid-column: 1/7;
  }

  .image-section {
    padding-bottom: 5rem;
    grid-column: 1/7;
  }
}

@include mobile {
  .section-copy {
    padding: 5rem 0 4rem;
    grid-column: 1/3;
  }

  .image-section {
    grid-column: 1/3;
    padding-bottom: 7rem;
  }
}
