.section-copy {
  grid-column: 1/7;
}

.section-copy h1 {
  color: var(--blue);
}

.digital-art {
  grid-column: 7/13;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder {
  background-color: var(--pink);
  width: 20rem;
  height: 20rem;
}
