footer {
  height: 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
}

.social-media {
  display: inline-flex;
}

.social-media img {
  margin-left: 1rem;
  width: 1rem;
}
