footer {
  height: 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.2rem;
}

// .info {
//   background-color: yellow;
// }

// .social-media {
//   background-color: blue;
// }
