footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
}

.icon {
  height: 1rem;
  width: 100%;
  margin-left: 1rem;
}

.info, .social-media {
  padding: 0.5rem 0;
}

.social-media {
  display: inline-flex;
}

.social-media img {
  width: 1rem;
}
