#hero {
  margin-top: 6rem;
}

.hero-left-box-wrapper {
  grid-column: 1/7;
  display: flex;
}

.hero-left-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-title h1 {
  font-family: 'Sixtyfour', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 3rem;
  color: var(--blue);
}

.celia {
  height: 10rem;
  width: 8rem;
  background-color: var(--pink);
}

.hero-home-image {
  grid-column: 7/13;
  width: 100%;
  margin-bottom: -0.1rem;
}

.floor {
  height: 1rem;
  width: 100%;
  background-color: var(--flesh);
}
