#hero {
  margin-top: 7rem;
  background-image: url("../static/img/home.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center bottom;
  height: 35rem;
}

.hero-content {
  height: 100%;
}

.hero-title {
  grid-column: 3/11;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-title h1 {
  font-family: 'Sixtyfour', sans-serif;
  font-weight: 450;
  font-size: 2.8rem;
  color: var(--pink);
}

.celia-wrapper {
  grid-column: 1/7;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.celia {
  height: 12rem;
  width: 9rem;
  background-color: var(--pink);
}
