@import "../assets/style/breakpoints";

#hero {
  margin-top: 7rem;
  background-image: url("../static/img/home.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center bottom;
  height: 35rem;
  grid-column: 1/13;
}

.hero-content {
  height: 100%;
}

.hero-title {
  grid-column: 3/9;
  width: 30rem;
  top: 2.5rem;
}

.hero-title h1 {
  color: var(--blue);
  background-color: var(--coral);
}

.floor {
  height: 1rem;
  width: 100%;
  background-color: var(--coral);
  z-index: var(--floor);
}

@include tablet {
  #hero {
    margin-top: -2rem;
    background-size: auto 80%;
  }

  .hero-title {
    grid-column: 2/5;
    width: 24rem;
    top: 8.5rem;
  }

  .hero-title h1 {
    font-size: 2rem;
  }
}

@include mobile {
  #hero {
    margin-top: -9rem;
    background-size: auto 60%;
  }

  .hero-title {
    grid-column: 1/2;
    width: 22rem;
    top: 13rem;
  }

  .hero-title h1 {
    font-size: 1.7rem;
  }
}
