@import "../assets/style/breakpoints";

#middle-section {
  width: 100%;
  background-color: var(--blue);
  background-image: linear-gradient(var(--blue), var(--pink));
}

.carousel-wrapper {
  grid-column: 1/7;
  z-index: var(--slide);
}

.text-wrapper {
  height: 25rem;
  grid-column: 7/13;
  margin: 10rem 0;
  display: flex;
  align-items: flex-start;
}

@include tablet {
  .carousel-wrapper {
    grid-column: 1/6;
  }

  .text-wrapper {
    grid-column: 1/6;
  }
}

@include mobile {
  .carousel-wrapper {
    grid-column: 1/2;
  }

  .text-wrapper {
    grid-column: 1/2;
  }
}
