@import "../assets/style/breakpoints";

#middle-section {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  background-image: linear-gradient(var(--blue), var(--pink));
  grid-column: 1/13;
}

.carousel-wrapper {
  grid-column: 1/7;
  margin-bottom: 3rem;
  z-index: var(--slide);
}

.text-wrapper {
  grid-column: 7/13;
  margin: 10rem 0 8rem 1rem;
  display: flex;
  align-items: flex-start;
}

@include tablet {
  .carousel-wrapper {
    grid-column: 1/7;
    margin-bottom: 2rem;
  }

  .text-wrapper {
    margin: 0 0 7rem;
    grid-column: 1/7;
  }
}

@include mobile {
  .carousel-wrapper {
    grid-column: 1/3;
  }

  .text-wrapper {
    margin: 0 0 5rem;
    grid-column: 1/3;
  }
}
