@import '../assets/style/breakpoints';

#nav-bar {
  z-index: var(--nav-bar);
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--blue);
  color: var(--white);
  grid-column: 1/13;
}

h3,
ul {
  margin: 0.5rem 0;
}

.logo {
  grid-column: 1/6;
  justify-self: start;
}

.menu {
  list-style: none;
  float: right;
  justify-self: end;
  grid-column: 8/13;
}

.menu a {
  font-weight: normal;
}

.menu a:hover {
  font-weight: bold;
}

#nav-bar ul {
  padding-inline-start: 0;
}

#nav-bar li {
  display: inline-block;
  margin-left: 1rem;
}

@include tablet {
  .logo {
    grid-column: 1/4;
  }

  .menu {
    grid-column: 4/7;
  }
}

@include mobile {
  .logo {
    grid-column: 1/2;
  }

  .menu {
    grid-column: 2/3;
  }
}
