@import '../assets/style/breakpoints';

#text-box {
  color: var(--white);
}

#text-box h1 {
  color: var(--pink);
}

.text-content {
  font-weight: 400;
  font-size: 1.3rem;
}

.text-content a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

@include mobile {
  #text-box h1 {
    font-size: 2rem;
  }

  .text-content {
    font-size: 1rem;
  }
}
